<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">

    <link rel="stylesheet" type="text/css" href="/assets/style_common.css">
    <link rel="stylesheet" type="text/css" href="/assets/login.css">
    <link rel="stylesheet" type="text/css" href="/assets/join.css">

    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
		<div class="wrapper" style="background:url('/assets/bg.png');   background-color: #002958;">
		<div class="user-img">
			<div class="join title">회원가입</div>
		</div>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
      <div class="icon_id"><%= image_tag ( "icon_id.png") , :style=>"width:20px"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class =>"usernames",  placeholder: "ID", style: "color: #999999" %>
      </div>
      <div class="icon_pwd_"><%= image_tag ( "icon_pwd.png") , :style=>"width:20px"%>

    <%= f.password_field :password, autocomplete: "new-password", :class => "password", placeholder: "Password" %>
      </div>
      <div class="icon_pwd2_"><%= image_tag ( "icon_pwd.png") , :style=>"width:20px"%>
      <%= f.password_field :password_confirmation, autocomplete: "new-password", :class => "password", placeholder: "Confirm Password" %>
      </div>
      <%= f.hidden_field :nickname, value: "허심조" %>
      <button class="join_button login" type="submit">회원가입</button>
    <%end%>
    <button onclick="location.href='/users/sign_in'" class="login_button" >로그인하기</button>
    # <%= link_to '로그인하기', new_user_session_path, :class=>"login_button" %>
	</div>
</body>
</html>
