<h1>좋아요 한 글</h1>
<% @posts.each do |post| %>
  <% if @posts.present? %>
    <p><%= post.id %></p>
    <p><%= post.title %></p>
    <p><%= post.content %></p>
    <a href="/posts/<%=post.id%>"> 게시글 보기 </a>
    <hr />
  <% else %>
    <p><%= 좋아요한 글이 없습니다. %>
  <% end %>
<% end %>
