<!DOCTYPE html>
<html lang="en">
<body>
	<div class="wrapper login-wrapper" style="background:url('/assets/bg.png')">
		<div class="user-img">
      <%= image_tag ( "logo2.png" ), width:200 %>
		</div>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="icon_id"><%= image_tag ( "icon_id.png") , :style=>"width:20px"%>
        <%= f.email_field :email, autofocus: true, autocomplete: "email" ,:class => "username", placeholder: "ID"%>
      </div>
      <div class="icon_pwd"><%= image_tag ( "icon_pwd.png") , :style=>"width:20px"%>
        <%= f.password_field :password, autocomplete: "current-password", :class=> "password", placeholder: "password" %>
      </div>
      <button class="login" type="submit">로그인</button>
    <% end %>
  <button onclick="location.href='/users/sign_up'" class="join" >회원가입 하기</button>
	</div>

</body>
</html>