<%= form_for(@post) do |f| %>
<div class="field">
  <%= f.label :title %> <br>
  <%= f.text_field :title %>
</div>
<div class="field">
  <%= f.label :content %> <br>
  <%= f.text_area :content %>
</div>
<div class="field">
  <%= f.label :hashtag %> <br>
  <%= f.text_area :hashtag %>
</div>
<<<<<<< HEAD
  <%= f.hidden_field :user_id,value: current_user.id %>
=======

  <div class="field">
    <%= f.hidden_field :user_id, value: current_user.id %>
  </div>

>>>>>>> add_front2
<div class="actions">
  <%= f.submit %>
</div>
<% end %>