<!DOCTYPE html>
<html lang="en">

<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="/assets/search.css">
    <link rel="stylesheet" type="text/css" href="/assets/main.css">
    <link rel="stylesheet" type="text/css" href="/assets/style_common.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
<nav>
  <div class="nav-section">
    <%= link_to "/" do %>
    <%= image_tag ("logo1.png"), class: "logo-img" %>
    <% end%>
    <div class="nav-upper-button-wrap">
          <button class="write" onclick="location.href='/posts/new'">
            <%= image_tag ( "write.png" ) %>
          </button>
          <button onclick="location.href='/mypage'">
            <%= image_tag ( "user.png" ) %>
          </button>
      </div>


        <div class="content-reply-input">
          <div class="icon_search">
            <button class="search-btn" onclick = "location.href ='/search'">
            <%= image_tag ( "search.png" ) , :style=>"width:20px" %>

          </div>
        </div>

  </div>

</nav>



<div class="content-wrapper">
    <!--SINGLE ELEMENT-->
  <% @posts.each do |post| %>
    <a href="/posts/<%=post.id%>" style="text-decoration: none;">
      <div class="content-element">
          <div class="content-preview">
              <div class="content-preview-title">
                <%= post.title %>
                  <!-- 강남역 인근 <span class="search-text">주말 주차 장소</span> 추천 -->
              </div>
              <div class="content-preview-text">
                <%= post.content %>
              </div>
              <div class="content-preview-timestamp"><%= post.user.nickname %> <%= post.created_at.strftime("%m.%d") %></div>
          </div>
          <div class="content-hashtag"><%=post.hashtag %></div>
          <div class="content-reply">
              <i class="fa fa-clipboard-list"></i>&nbsp; <%= post.comments.count %>
          </div>
      </div>
    </a>
  <% end %>
</div>

</body>
</html>
