<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">

        <link rel="stylesheet" type="text/css" href="../assets/css/write.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
  <nav>
      <div class="nav-upper-section">
        <%=image_tag ("logo1.png"), class: "logo-img" %>
          <div class="nav-upper-button-wrap">
              <button class="write" onclick="location.href='/posts/new'">
                  <%= image_tag ("write.png") %>
              </button>
              <button onclick = "location.href = '/mypage'">
                  <%= image_tag ("user.png") %>
              </button>
          </div>
      </div>

  </nav>

<div class="content-wrapper">

    <div class="write-wrapper">
    <%= form_for(@post) do |f| %>
            <div class="write-title">
            <%= f.text_field :title, :class => "title", placeholder: "제목" %>
            </div>

            <div class="write-content">
            <%= f.text_area :content, :class => "content", placeholder: "본문" %>
        </div>

        <div class="write-tag">
            <%= f.text_area :hashtag, :class => "tag", placeholder: "태그" %>
        </div>
        <%= f.hidden_field :user_id, value: current_user.id %>
        <button class="submit" type="submit">+ 게시하기</button>
    </div>
<% end %>
</div>

</body>
</html>
