<!DOCTYPE html>
<html lang="en">
<head>
    <link href="https://fonts.googleapis.com/css?family=Noto+Sans+KR" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="../assets/css/style_common.css">
    <link rel="stylesheet" type="text/css" href="../assets/css/setting.css">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css" integrity="sha384-5sAR7xN1Nv6T6+dT2mhtzEpVJvfS3NScPQTrOxhwjIuvcA67KV2R5Jz6kr4abQsz" crossorigin="anonymous">
    <title>TMI_Example</title>
</head>
<body>
  <nav>
      <div class="nav-upper-section">
          <%= image_tag ("logo1.PNG") %>
          <div class="nav-upper-button-wrap">
              <button class="write" onclick="location.href='/posts/new'">
                  <%= image_tag ("write.png") %>
              </button>
              <button onclick = "location.href = '/mypage'">
                  <%= image_tag ("user.png") %>
              </button>
          </div>
      </div>
      <div class="nav-lower-section">
          <div class="nav-lower-button-wrap">
            <button onclick = "location.href = '/mypage'">내가 쓴 글</button>
            <button onclick = "location.href = '/mypage/bookmark/<%= current_user.id %> '">북마크</button>
            <button onclick = "location.href = '/mypage/new_news'">알림</button>
            <button class="btn-selected" onclick = "location.href = '/mypage/setting/<%= current_user.id %> '" >설정</button>
          </div>
      </div>
  </nav>

<div class="content-wrapper">
    <div class="user">
        <div class="user-name">
            <% if user_signed_in? %>
              <%= current_user.nickname %>
            <% else %>
            <%end%>
        </div>
        <button type="button" class="user-detail">
            알림 ON
            <i class="fa fa-chevron-right"></i>
        </button>
        <button type="button" class="user-detail logout">
            <% if user_signed_in? %>
              <%= link_to('로그아웃', destroy_user_session_path, method: :delete) %>
            <% else %>
             <%= link_to('로그인', new_user_session_path)  %>
            <% end %>
        </button>
    </div>
</div>

</body>
</html>
